[Unit]
Description=Minecraft Server

[Service]
WorkingDirectory=/home/ubuntu
User=ubuntu

ExecStart=/usr/bin/screen -DmS mc /home/ubuntu/bin/runserver.sh

ExecStop=/usr/bin/screen -p 0 -S mc -X eval 'stuff "say SERVER SHUTTING DOWN. Saving map..."\\015'
ExecStop=/usr/bin/screen -p 0 -S mc -X eval 'stuff "save-all"\\015'
ExecStop=/usr/bin/screen -p 0 -S mc -X eval 'stuff "stop"\\015'
ExecStop=/bin/sleep 2

[Install]
WantedBy=multi-user.target

